@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root{
    --primary-color: #a78bfa;
    --dark-gray: rgb(156 163 175);
    --light-gray:#e2e8f0;
}
body{
    font-family: 'Roboto Mono', 
    monospace;
    margin: 0px;
}

hr{
    margin: 2rem 0rem;
}

/** Containers **/
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-center{
    max-width: 600px;
    margin: auto;
}

/** links**//
.link{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.primary-link{
    background-color: var(--primary-color);
    border-radius: 1rem;
    color: white;
}

.secondary-link{
    color: var(--primary-color);
    border-radius: 00.5rem;
    border: 1px solid var(--primary-color);
}

/**Lists **/

.non-bullets{
    list-style: none;
}

.list-item-inline{
  display: inline;
  padding: 0rem 0.5rem;
}

/**navigation **/

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.navigation .nav-Brand{
    font-size: 1 rem;
    font-weight: bold;
}

.navigation .nav-pills{
    text-align: right;
}

.navigation .link{
    color: white;
}

.navigation .link-active{
    font-weight: bold; 
}

/** header **/

.hero{
    padding: 2rem;
    text-align: center;
}

.hero .hero-img{
    max-width: 300px;
    display: block;
    margin: auto;
}

.hero .hero-heading{
    padding: 1rem;
    color: var(--dark-gray)
}

.hero .hero-heading 
.heading-inverted{
    color: var(--primary-color);
}

/** Section **/

.section{
    padding: 1rem;
}

.section h3 {
 text-align: center;
}

.off{
    background-color: var(--light-gray);
}

/** Footer**/

.footer{
    
    background-color: var(--primary-color);
    padding: 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .footer-header{
    font-weight: bold;
    font-size: large;
}

.footer .link{
    color: white;
    text-decoration: none;
}

